:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin: 0 auto;
  width: 371px;
  height: 40px;
}

.input-form {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  border: 1px solid #808080;
  padding-left: 16px;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-form::placeholder {
  color: #808080;
}

.input-form:hover {
  border-color: #000;
}

.search-btn,
.load-more-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-btn:hover,
.load-more-btn:hover {
  background: #6c8cff;
}

.load-more-btn {
  width: 125px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  margin: o auto;
}

/* Gallery */
.list {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  margin: 32px auto;
}

.card {
  width: calc((100% - 54px) / 3);
  border: 1px solid #808080;
}

.card-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.info-text {
  color: #2e2f42;
  padding: 4px 20px;
}
